@use "./partials/variables" as *;

@import "node_modules/bootstrap/scss/bootstrap";

header {
    width: 100%;
    height: 80px;
    color: white;

    background-color: $main-bg-color;
}

main {
    background-color: $main-bg-color;
}

// CHARACTERS CARDS
.container {
    width: 80%;

    background-color: white;
}